# Ignore FE dependencies
fe/node_modules
fe/.pnp
fe/.pnp.js

fe/npm-debug.log
fe/yarn-error.log
fe/yarn-debug.log
fe/package-lock.json
fe/yarn.lock

be/npm-debug.log
be/yarn-error.log
be/yarn-debug.log
be/package-lock.json
be/yarn.lock

# Ignore BE dependencies (nếu có)
be/node_modules

# Coverage and build
**/coverage
**/build

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Env
**/.env*